 body {
     font-size: 14px;
     font-family: 'Roboto-medium', sans-serif;
 }
 
 .container {
     width: 900px;
     padding: 0 10px 0 10px;
     margin: 0 auto;
 }

.main-header {
     background: #eeeeee;
}
 
 * {
     outline: 1px solid green;
 }
 
 .logo {
     float: left;
     width: 140px;
     margin-right: 183px;
     margin-top: 27px;
 }
 
 .main-navigation ul,
 li {
     text-transform: uppercase;
     float: left;
     list-style: none;
     margin: 0;
     padding: 0;
 }
 
 .main-navigation li {
     margin-right: 44px;
     margin-top: 60px;
     margin-bottom: 20px;
 }
 
 .main-navigation li a {
     text-decoration: none;
     color: black;
 }
 
 .clearfix:after {
     content: '';
     display: table;
     clear: both;
 }
 
 .cart-block {
     text-transform: uppercase;
     float: right;
     width: 84px;
     margin-top: 60px;
     margin-bottom: 60px;
 }
 
 .cart-block a {
     text-decoration: none;
     color: black;
 }
 
 .slider {
     float: left;
     width: 380px;
     padding: 0px;
 }
 
 .slider-points {
     float: left;
     width: 60px;
     margin: 235px 0px 90px 28px;
 }
 
 .slider-points a {
     margin-right: 7px;
 }
 
 .slidename {
     font-size: 36px;
     margin: 61px 0px 17px 0px;
     line-height: 36px;
 }
 
 .slider p {
     font-size: 14px;
     margin: 0px 0px 38px 0px;
     line-height: 22px;
 }
 
 .slider a {
     text-decoration: none;
     padding: 10px 72px;
 }
 
 .features-row {
     width: 900px;
     padding: 80px 10px 30px 0px;
     margin: 0 auto;
 }
 
 .features-item {
     float: left;
     width: 240px;
     height: 300px;
     margin-right: 80px;
 }
 
 .features-item:last-child {
     float: right;
     margin-right: 18px;
 }
 
 .features-title {
     font-size: 18px;
     text-transform: uppercase;
     margin: 25px 0px 18px 0px;
 }
 
 .features-item p {
     font-size: 15px;
     line-height: 22px;
 }
 
 .features-item a {
     display: block;
     font-size: 12px;
     line-height: 22px;
     text-transform: uppercase;
     padding: 8px 41px;
     text-decoration: none;
     margin: 26px 98px 0px 0px;
 }
 
 .content-columns {
     width: 900px;
     height: 345px;
     padding: 96px 0px 0px 0px;
     margin: 0 auto 81px auto;
 }
 
 .content-columns h1 {
     font-size: 36px;
     line-height: 36px;
     margin-bottom: 17px;
 }
 
 .content-column-left p {
     display: block;
     font-size: 16px;
     line-height: 22px;
     margin-top: 15px;
 }
 
 .content-column-left div {
     display: block;
     font-size: 16px;
     line-height: 22px;
     text-transform: uppercase;
     margin-top: 44px;
 }
 
 .content-column-left li {
     display: block;
     list-style: none;
     margin: 11px 60px 17px -3px;
     text-transform: none;
 }
 
 .content-column-left {
     float: left;
     width: 620px;
 }
 
 .content-column-right {
     float: right;
     width: 258px;
     padding: 13px 0px;
 }
 
 .content-column-right p {
     display: block;
     font-size: 16px;
     line-height: 22px;
     margin-top: 24px;
     padding-left: 80px;
 }

.content-column-right img {
    margin-left: 30px;
}
 
 .content-column-right div {
     display: block;
     font-size: 16px;
     line-height: 22px;
     text-transform: uppercase;
     margin-top: 65px;
 }
 
 .content-column-right li {
     display: block;
     list-style: none;
     margin: 11px 0px 17px -3px;
     text-transform: none;
 }
 
 .partners-sites {
     width: 900px;
     height: 168px;
     padding: 0px 0px;
     margin: 0px auto 88px auto;
 }
 
 .partners-sites a {
     float: left;
     margin: 0px 85px 0px 13px;
     width: 220px;
 }
 
 .partners-sites a:last-child {
     float: right;
     margin-right: 27px;
     width: 220px;
 }
 
 .map .container {
     width: 1200px;
     height: 240px;
     padding: 87px 10px;
     margin: 0px auto;
     background-image: url("../img/Слой 2.jpg");
     background-repeat: no-repeat;
 }
 
 .contacts {
     margin: 0px 0px 0px 150px;
     height: 225px;
     width: 230px;
     padding: 15px 0px 0px 21px;
 }
 
 .contacts p {
     font-size: 16px;
     line-height: 19px;
 }
 
 .contacts a {
     display: block;
     font-size: 12px;
     line-height: 18px;
     text-transform: uppercase;
     text-decoration: none;
     padding: 11px 0px 11px 55px;
     margin: 30px 22px 0px 2px;
 }
 
 .main-footer .container {
     width: 900px;
     height: 215px;
     padding: 0px 10px;
     margin: 0 auto 75px auto;
 }
 
 .main-footer h1 {
     padding: 0px;
     margin: 0px;
     font-size: 36px;
     line-height: 27px;
 }
 
 .social-links {
     float: left;
     width: 240px;
     margin-top: 77px;
     font-size: 10px;
     text-align: center;
 }
 
 .social-links a {
     display: block;
     float: left;
     padding: 24px 17px 24px 0px;
     margin: 0px 27px 0px 0px;
 }
 
 .social-links a:last-child {
     float: right;
     margin-right: 0px;
 }
 
 .letsbefriends {
     float: right;
     margin: 44px 10px 0px 0px;
 }

.letsbefriends h2 {
    font-size: 36px;
    margin-bottom: 0px;
}
 
 .letsbefriends p {
     margin:9px 0px;
     padding-top: 0px;
     font-size: 16px;
     line-height: 17px;
 }

.inner-page h1 {
    font-size: 40px;
    text-align: center;
    margin: 12px -20px 0px 0px;
    text-transform: uppercase;
    line-height: 48px;
    padding-bottom: 80px;
}

.inner-page .container {
    padding: 0px;
}

.filter {
    float: left;
    margin-top: 83px;
    width: 250px;
    height: 1100px;
    margin-left: -10px;
}

.goods-list: {
    float: right;
}

.sorting {
    display: inline-block;
    margin-top: 74px;
    font-size: 12px;
}

legend {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: -6px;
}

label {
    font-size: 16px;
    margin-top: 22px;
}

.price {
    height: 204px;
}

.grid {
    height: 173px;
}

label {
    display: block;
}

.features {
    height: 270px;
}

.good {
    display: inline-block;
    width: 240px;
    height: 270px;
    margin-left: 80px;
    margin-bottom: 68px;
    margin-top: 18px;
}