body {
  font-size: 14px;
  font-family: "Roboto-medium", "arial", "helvetica", sans-serif;
}

.container {
  width: 880px;
  padding: 0px 10px;
  margin: 0 auto;
}

.main-header {
  background: #eeeeee;
  margin-bottom: 81px;
  padding-top: 27px;
}

/** {
  outline: 1px solid green;
}*/


.menu {
  padding-top: 32px;
  padding-bottom: 40px;
}

.logo {
  float: left;
  width: 140px;
}

.main-navigation {
  float: right;
  max-width: 560px;
}

.main-navigation ul,
.main-navigation li {
  text-transform: uppercase;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  margin-right: 44px;
}

.main-navigation li a {
  text-decoration: none;
  color: black;
}

.main-navigation li a:hover {
  color: #fb565a;
}

.main-navigation li a:active {
  color: #aaaaaa;
}

.active-page:after {
  content:"";
    display:block;
    background-color: #f7898b;
    width:100%;
    height:2px;
    position:relative;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.cart-block {
  text-transform: uppercase;
  float: right;
  padding-left: 51px;
  background-image: url('../img/spritesheet.png');
  background-position: -394px -173px;
}

.cart-block:hover {
  background-position: -28px -403px;
}

.cart-block:active {
  background-position: -394px -288px;
}


.cart-block a {
  text-decoration: none;
  color: black;
}

.cart-block a:hover {
  color: #fb565a;
}

.cart-block a:active {
  color: #aaaaaa;
}

.slider {
  position: relative;
  width: 880px;
  height: 308px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-points {
  position: absolute;
  bottom: 95px;
  left: 49%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 100;
}

.slider-points .active {
  background: #c1c1c1;
}

.slider-points label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-points label[for="btn-1"], #btn-2:checked ~ .slider-points label[for="btn-2"], #btn-3:checked ~ .slider-points label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 298px;
  overflow: hidden;
  padding-top: 10px;
}




.slidename {
  font-size: 36px;
  margin: 0px 0px 17px 0px;
  line-height: 36px;
  padding-top: 20px;
}




.slider p {
  font-size: 14px;
  margin: 0px 0px 29px 0px;
  line-height: 22px;
}

.slider a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 70px;
}

.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.button {
  color: white;
  border-radius: 5px;
}

.button-more {
  background: #fb565a;
}

.button-more:hover {
  background: #d6494d;
}

.button-more:active {
  background: #b63538;
}

.features-item {
  float: left;
  width: 240px;
  min-height: 300px;
  margin-right: 80px;
}

.features-item:last-child {
  float: right;
  margin-right: 0px;
}

.features-item img {
  margin-bottom: 25px;
}

.features-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.features-item p {
  font-size: 15px;
  line-height: 22px;
}

.features-item a {
  display: block;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 8px 40px;
  text-decoration: none;
  margin: 26px 100px 0px 0px;
}

.features-row {
  margin-bottom: 128px;
}

.button-order-web {
  background: #fb565a;
}

.button-order-web:hover {
  background: #d6494d;
}

.button-order-web:active {
  background: #b63538;
}

.button-order-app {
  background: #00ca74;
}

.button-order-app:hover {
  background: #01a25e;
}

.button-order-app:active {
  background: #009053;
}

.button-order-present {
  background: #efc84a;
}

.button-order-present:hover {
  background: #d6ae2c;
}

.button-order-present:active {
  background: #c09b24;
}

.content-columns {
  padding-top: 13px;
  margin: 0 0 92px 0;
}

.content-columns:before {
  content:"";
    display:block;
    background-color: #eeeeee;
    width:880px;
    height:2px;
    position:relative;
    top: -61px;
}

.content-columns:after {
  content:"";
    display:block;
    background-color: #eeeeee;
    width:880px;
    height:2px;
    position:relative;
    top: 47px;
}

.content-columns h1 {
  margin: 0px;
  font-size: 36px;
  line-height: 36px;
}

.content-column-left {
  float: left;
  width: 620px;
  padding-top: 11px;
}

.content-column-left p {
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 29px;
}

.content-column-left div {
  display: block;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.content-column-left ul {
  padding-top: 11px;
}

.content-columns li {
  display: block;
  list-style: none;
  margin: 0px 0px 25px -3px;
  text-transform: none;
}

.content-columns li:before {
  content:"";
    display:block;
    background-color: #fb565a;
    width:25px;
    height:2px;
    position:relative;
  top: 9px;
  right: 37px;
}

.content-column-right {
  float: right;
  width: 220px;
  padding: 0px 20px;
}

.content-column-right img {
  padding-bottom: 7px;
  margin-left: 30px;
}

.content-column-right p {
  display: block;
  width: 113px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 70px;
  margin-bottom: 50px;
  opacity: 1;
  padding-left: 15px;
  padding-right: 0px;
}


.content-column-right:before {
  content:"";
    display:block;
    background-color: #eeeeee;
    width:240px;
    height:2px;
    position:relative;
    top: 112px;
    left: 0px;
}

.content-column-right div {
  display: block;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.partners-sites {
  padding: 0px 0px;
  margin: 0px auto 118px auto;
}

.partners-sites:after {
  content:"";
    display:block;
    background-color: #eeeeee;
    width:880px;
    height:2px;
    position:relative;
    top: 32px;
}


.partners-sites a {
  float: left;
  margin: 0px 100px 0px 0px;
  width: 220px;
}

.partners-sites a:last-child {
  float: right;
  margin-right: 8px;
  width: 220px;
}

.partners-sites a:last-child:hover {
  background-image: url(../img/partners-borodinski-active.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.partners-sites a:first-child {
  padding-top: 22px;
  padding-left: 11px;
}

.partners-sites a:first-child:hover {
  background-image: url(../img/partners-glukh-active.png);
  background-repeat: no-repeat;
  background-position: 11px 22px;
}

.partners-sites a:nth-child(2) {
  padding-top: 10px;
}

.partners-sites a:nth-child(2):hover {
  background-image: url(../img/partners-htmlacademy-active.png);
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

.map {
  position: relative; 
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  height: 416px;
  margin-bottom: 79px;
  z-index: 5;
}

.contacts {
  position: absolute;
  top: 88px;
  left: 50%; 
  margin-left: -440px;
  height: 225px;
  width: 210px;
  padding: 14px 20px 0px 20px;
  background-color: #ffffff;
  z-index: 1;
}

.contacts p {
  font-size: 16px;
  line-height: 19px;
}

.contacts a {
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0px 11px 54px;
  margin: 32px 4px 0px 4px;
}

.button-write-us {
  background: #fb565a;
}

.button-write-us:hover {
  background: #d6494d;
}

..button-write-us:active {
  background: #b63538;
}

.contact-form {
  position: absolute;
  width: 460px;
  height: 380px;
  background: white;
    top: -38px;
  left: 50%; 
  margin-left: -317px;
  padding: 37px 91px 0px 80px;
  z-index: 1000;
  box-shadow: 0 15px 40px 10px rgba(0,0,0,0.5);
}

.message p {
  font-size: 16px;
}

.message input {
  font-size: 12px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding: 0 0 0 13px;
  margin-top: -8px;
}

.message div {
  padding-bottom: 5px;
  width: 220px;
}

.your-name, .your-e-mail {
  width: 202px;
  height: 35px;
}

.your-letter {
  width: 442px;
  height: 110px;
  margin-bottom: 44px;
}

.message div:first-child {
  float: left;
}

.message div:nth-child(2) {
  float: right;
}

.message div:last-child {
  float: left;
  width: 465px;
  padding-top: 0px;
}

.button-send {
  font-size: 12px;
  padding: 11px 70px 9px 71px;
  margin-left: 0px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  background-color: #fb565a;
  color: white;
}

.main-footer .container {
  width: 880px;
  padding: 0px 10px;
}

.main-footer h1 {
  padding: 0px;
  margin: 0px;
  font-size: 36px;
  line-height: 27px;
}

.social-links {
  float: left;
  width: 240px;
  font-size: 8px;
  text-align: center;
  margin-left: 0px;
}



.social-button {
    float: left;
  padding: 20px 10px;
  margin: 0px 30px 0px 0px;
  font-size: 0;
  width: 40px;
  height: 20px;
  background: #e1e1e1;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.social-button:last-child {
  float: right;
  margin-right: 0px;
}

.social-button-vk {
  background-image: url(../img/spritesheet.png);
  background-position: -284px -528px;
}

.social-button-vk:hover {
  background: #fb565a;
    background-image: url(../img/spritesheet.png);
  background-position: -284px -528px;
}

..social-button-vk:active {
  background: #d6494d;
    background-image: url(../img/spritesheet.png);
  background-position: -284px -528px;
}

.social-button-fb {
  background-image: url(../img/spritesheet.png);
  background-position: -281px -157px;
}

.social-button-fb:hover {
  background: #fb565a;
  background-image: url(../img/spritesheet.png);
  background-position: -281px -157px;
}

..social-button-fb:active {
  background: #d6494d;
  background-image: url(../img/spritesheet.png);
  background-position: -281px -157px;
}

.social-button-instagram {
  background-image: url(../img/spritesheet.png);
  background-position: -367px -386px;
}

.social-button-instagram:hover {
  background: #fb565a;
  background-image: url(../img/spritesheet.png);
  background-position: -367px -386px;
}

..social-button-fb:active {
  background: #d6494d;
  background-image: url(../img/spritesheet.png);
  background-position: -367px -386px;
}

.letsbefriends {
  float: right;
  margin: 0px 0px 0px 0px;
  width: 600px;
}

.letsbefriends h2 {
  font-size: 36px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 7px;
  line-height: 29px;
}

.inner-page .container {
  padding-left: 0px;
  padding-right: 0px;
}

.letsbefriends p {
  margin: 9px 0px;
  padding-top: 0px;
  font-size: 16px;
  line-height: 17px;
}

.welcome{
  padding: 22px 23px 28px 0;
}

.inner-page h1 {
  font-size: 40px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  line-height: 48px;
  padding-bottom: 55px;
  padding-left: 40px;
  font-weight: normal;
}

.inner-page .top {
  padding-bottom: 61px;
}

.inner-page .main-header {
  margin-bottom: 80px;
}

fieldset {
  padding: 0px;
  margin: 0px;
}

.filter {
  float: left;
  width: 240px;
}

.goods-list {
  float: right;
  margin-bottom: 80px;
  width: 640px;
}

.sorting {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 24px;
  overflow: hidden;
}

.sorting-parametre {
  text-decoration: none;
  color: #c1c1c1;
  border-bottom: 1px dotted #00ca74;

}

.sorting-parametre:hover {
  color: black;
  border-bottom: 1px solid #00ca74;
}

.sorting-parametre:active {
  color: black;
  border-bottom: none; 
}

.sorting-parametre:focus {
  color: black;
  border-bottom: none; 
}

.sorting-up-and-down {
  font-size: 14px;
  text-decoration: none;
  color: #c1c1c1;
}

.sorting-up-and-down:hover {
  color: #c1c1c1;
}

.sorting-up-and-down:active {
  color: black;
}

.sorting-up-and-down:focus {
  color: #00ca74;
}

.sorting ul,
.sorting li {
  text-transform: uppercase;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting ul {
  margin-left: 78px;
  padding-top: 2px;
}

.sorting li:first-child {
  margin-right: 35px;
}

.sorting li {
  margin-right: 42px;
}

.sorting li:nth-child(4) {
  margin-right: 98px;
}

.sorting li:nth-child(5) {
  margin-right: 1px;
}

.sorting li:nth-child(6) {
  margin-right: 0px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: -1px;
}

.filter label {
  font-size: 16px;
  margin-top: 22px;
  display: block;
  padding-left: 20px;
}


input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  
}

input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 23px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
  background-image: url(../img/spritesheet-checkboxes.png);
  background-repeat: no-repeat;
  background-position: -150px -150px;
}

input[type="checkbox"] + label:hover {
  background-position: -796px -150px;
}

input[type="checkbox"]:checked + label {
  background-position: -150px -473px;
}

input[type="checkbox"]:disabled + label {
  background-position: -473px -150px;
}

input[type="checkbox"]:checked:disabled + label {
  background-position: -477px -473px;
}

input[type="checkbox"]:checked:hover + label {
  background-position: -804px -473px;
}


input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin: 10px 0;
  line-height: 25px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
  background-image: url(../img/spritesheet-checkboxes.png);
  background-repeat: no-repeat;
  background-position: -150px -796px;
}

input[type="radio"] + label:hover {
  background-position: -800px -796px;
}

input[type="radio"]:checked + label {
  background-position: -1131px -150px;
}

input[type="radio"]:disabled + label {
  background-position: -475px -796px;
}

input[type="radio"]:checked:disabled + label {
  background-position: -1131px -475px;
}

input[type="radio"]:checked:hover + label {
  background-position: -1125px -800px;
}



.price {
  min-height: 219px;
}

.range-controls {
  position: relative;
  height: 41px;
  border-radius: 5px;
  background: #f1f1f1;
  margin-bottom: -10px;
  padding-top: 59px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  float: left;
  font-size: 16px;
  display: inline-block;
  width: 41%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  width: 50px;
  padding: 8px 10px;
    border-radius: 5px;
  outline: none;
  background: #f1f1f1;
  margin-left: 0px;
}

.grid {
  min-height: 189px;
}

.features {
  min-height: 275px;
}

.layouts-image {
  width: 640px;
}

.good {
  float: left;
  display: inline-block;
  width: 240px;
  min-height: 270px;
  margin-left: 80px;
  margin-bottom: 77px;
  position: relative;
}

.paginator {
  display: inline-block;
  margin-left: 80px;
}

.paginator p,
.paginator a {
  display: inline-block;
  font-size: 12px;
  padding: 11px 15px;
  margin: 0px 7px 0px 0px;
  text-transform: uppercase;
}

.paginator a {
  background: #f1f1f1;
  color: black;
  text-decoration: none;
  border-radius: 2px;
}

.paginator a:hover {
  background: #e5e5e5;
}

.paginator a:active {
  background: #d5d5d5;
}

.paginator p {
  border: 2px solid #f1f1f1;
}

.paginator a:last-child {
  padding: 11px 35px;
}

.good h1 {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  line-height: 19px
}

.good p {
  line-height: 18px;
  text-align: center;
  padding-bottom: 23px;
}

.good img {
  margin-top: 30px
}

.good .description > a {
  font-size: 18px;
  padding: 9px 34px 9px 34px;
  margin-left: 30px;
}

.good .description {
  display: none;
  position: absolute;
  height: 166px;
  width: 200px;
  top: 50px;
  left: 20px;
  padding: 34px 0px 0px 0px;
  background-color: #ffffff;
}

.button-show-me {
  font-size: 12px;
  padding: 13px 35px 9px 45px;
  margin-left: 0px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.good .description:hover {
  display: block;
}

.button-price {
  background: #fb565a;
}

.button-price:hover {
  background: #d6494d;
}

.button-price:active {
  background: #b63538;
}